h2 {
  text-align: center;
}

header {
  margin-bottom: 5%;
}

.logo-wrapper span {
  display: flex;
  margin: 4px 3px 3px 10px;
}

.logo-wrapper h3 {
  font-family: fantasy;
  color: white;
}

.Home h1 {
  font-size: 500%;
}

.Home img {
  width: 40%;
  height: auto;
  float: right;
}

.Home section {
  margin-top: 5%;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.About h2, .Show h2, .New h2, .SignUp h2 {
  color: #380604;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  text-align: center;
  background-color: #ED6E72; 
  z-index: 101;
}

nav a {
  /* color: #FDB1CC; */
  color: black;
  text-decoration: none;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

nav a:hover {
  text-decoration: underline;
}

nav img {
  height: 50px;
  width: 75px;
}

header {
  color: #FDB1CC;
}

input {
  height: 35px;
  width: 300px;
  /* padding: 5px 10px; */
  background-color: white;
  border: 1px solid black;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
}

label {
  height: 35px;
}

#login-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 8;
}

#login-wrapper button {
  padding: 6px;
  border-radius: 20px;
}

#sign-up {
  box-sizing: border-box;
  margin-left: 5px;
  margin-right: 5px;
}

#sign-up button {
  color: #380604;
  background-color: #FDB2CC;
}

#sign-up span{
  font-size: large;
}

#login-wrapper button:hover {
  cursor: pointer;
  transform: scale(1.1); 
  color: black;
  background-color: red;
}


.sign-up-section {
  text-align: center;
  margin-top: 10%;
}

.gamer-card {
  background-color: #ED6D72;
  width: 25em;
  height: 11em;
  text-align: center;
  overflow-y: auto;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 5px 5px 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.gamer-card a {
  /* color: #CCDCF9; */
  color: #F4D3D4;
  text-decoration: none;
}

.gamer-card:hover {
  border: 1px solid white;
}

.gamer-card h2 {
  /* color: #D788CC; */
  /* color: #CCDCF9; */
  color: #F4D3D4;
  display: inline;
}

#status {
  display: inline;
}

.Index {
  text-align: center;
}

.search-bar {
  margin-bottom: 3%;
}

.gamer-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  margin-top: 1em;
}

.gamer-card img {
  float: left;
  width:  150px;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
}

.gamer-details {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 20px;
}

.gamer-details #back-button {
  position: fixed;
  top: 7%;
  left: 15%;
}

.gamer-details section {
  text-align: center;
  justify-content: center;
}

.gamer-image img {
  position: relative;
  display: flex;
  max-width:60%;
  height:auto;
}

.showNavigation {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}

.New {
  text-align: center;
}

.new-gamer {
  width: 5em;
  position: relative;
  left: 30%;
  overflow-y: scroll;
  width: 500px;
  color: white;
}

.new-gamer span {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
 
.new-gamer select {
  width: 300px;
}

.new-gamer textarea{
  width: 295px;
}

.submit-new {
  background-color: #7F76BE;
  width: 200px;
  float: right;
}

.new-gamer input[type=checkbox] {
  height: 20px;
  width: 20px;
}




/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
