nav {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  text-align: center;
  background-color: #3036A4;
}

a {
  color: #ECDDD0;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.index {
  text-align: center;
}

.gamer-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
}

.gamer-card {
  width: 25em;
  text-align: center;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 5px 5px 10px;
  margin: auto;

}


.gamer-card img {
  height: 250px;
  width: 290px;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
