nav {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  text-align: center;
  background-color: #0F0F0F; 
  z-index: 101;
  color: #BD110F;
}

nav span {
  font-family: fantasy;
}

nav a {
  color: pink;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-style: oblique;
  float: right;
}

nav a:hover {
  text-decoration: underline;
  color: white;
}

nav button {
  grid-column: 8;
  color: #380604;
  background-color: #F094A4;
  border: none;
  border-radius: 5px;
  font-size: large;
  margin-top: 3%;
}

nav #login-wrapper {
  margin-top: 4%;
  grid-column: 8;
  text-align: center;
}

nav #login-wrapper a {
  float: none;
}

nav #login-wrapper span {
  font-family: monospace;
  font-style: oblique;
}

nav #about {
  float: none;
}

nav button:hover {
  cursor: pointer;
  transform: scale(1.1); 
  color: red;
  background-color: black;
}

nav img {
  height: 40px;
  width: auto;
  float: left;
  margin-top: 2%;
  margin-left: 2%;
}


.gamer-card {
  background-color: #EBA3B0;
  width: 25em;
  height: 15em;
  text-align: center;
  overflow-y: auto;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 5px 5px 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.gamer-card a {
  color: #F4DCDC;
  text-decoration: none;
}

.gamer-card:hover {
  border: 1px solid white;
}

.gamer-card h2 {
  color: #F4DCDC;
  display: inline;
}

.gamer-card #pronouns {
  margin: -1px;
  font-style: italic;
  font-weight: 900;
}

.gamer-card #tagline {
  margin-top: 15%;
  text-align: center;
  font-weight: 600;
}

#status {
  display: inline;
}

.Index {
  text-align: center;
}

.Index section input {
  border-radius: 5px;
  height: 25px;
  width: 300px;
}

.Index section {
  color: #FFC0CB;
  font-weight: 700;
}

.title {
  color: #FFC0CB;
}

.search-bar {
  margin-top: 3%;
  margin-bottom: 3%;
}

.gamer-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  margin-top: 1em;
}

.gamer-card img {
  float: left;
  width:  150px;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
}

.Home section h2 {
  color: #FFC0CB;
  font-weight: 300;
}

.Home img {
  height: 400px;
  width: auto;
  float: right;
  margin-right: 100px;
}

.New {
  text-align: center;
}

.Edit {
  text-align: center;
}

.Show {
  color: #F4DCDC;
}

.gamer-form {
  width: 5em;
  margin-top: 3%;
  position: relative;
  left: 30%;
  overflow-y: scroll;
  width: 500px;
  color: #FFC0CB;
  font-weight: bold;
}

.gamer-form label {
  text-align: center;
}

.gamer-form span {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
 
.gamer-form select {
  width: 250px;
}

.gamer-form textarea{
  width: 250px;
}

.submit-new {
  position: relative;
  right: 5%;
  background-color: #FFC0CB;
  border: none;
  width: 200px;
  float: right;
}

.gamer-form input[type=checkbox] {
  height: 20px;
  width: 20px;
}



/* h2 {
  text-align: center;
}

header {
  margin-bottom: 5%;
}

.logo-wrapper span {
  display: flex;
  margin: 4px 3px 3px 10px;
}

.logo-wrapper h3 {
  font-family: fantasy;
  color: white;
}

.Home h1 {
  font-size: 500%;
  position: relative;
  left: 20%;
}

.Home img {

}

#controller {
  width: 40%;
  height: auto;
  float: right;
}

#guy-girl {
  width: 20%;
  height: auto;
  position: relative;
  left: 20%;
}

.Home section {
  margin-top: 5%;
}

.About h2, .Show h2, .New h2, .SignUp h2 {
  color: #380604;
}

nav {
  position: fixed;
  top: 0;
  width: auto;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  text-align: center;
  background-color: #370305; 
  z-index: 101;
}

nav a {
  color: pink;
  text-decoration: none;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

nav a:hover {
  text-decoration: underline;
}

nav img {
  height: 50px;
  width: 75px;
}

header {
  color: #FDB1CC;
}

input {
  height: 35px;
  width: 300px;
  background-color: white;
  border: 1px solid black;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
}

label {
  height: 35px;
}

#login-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 8;
}

#login-wrapper button {
  padding: 6px;
  border-radius: 20px;
}

#sign-up {
  box-sizing: border-box;
  margin-left: 5px;
  margin-right: 5px;
}

#sign-up button {
  color: #380604;
  background-color: #F9C2B6;
  border: none;
}


#login-wrapper button:hover {
  cursor: pointer;
  transform: scale(1.1); 
  color: red;
  background-color: black;
}


.sign-up-section {
  text-align: center;
  margin-top: 10%;
}

.gamer-card {
  background-color: #ED6D72;
  width: 25em;
  height: 11em;
  text-align: center;
  overflow-y: auto;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 5px 5px 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.gamer-card a {
  color: #F4D3D4;
  text-decoration: none;
}

.gamer-card:hover {
  border: 1px solid white;
}

.gamer-card h2 {
  color: #F4D3D4;
  display: inline;
}

#status {
  display: inline;
}

.Index {
  text-align: center;
}

.search-bar {
  margin-bottom: 3%;
}

.gamer-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  margin-top: 1em;
}

.gamer-card img {
  float: left;
  width:  150px;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
}

.gamer-details {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 5%;
  padding: 20px;
}

.gamer-details #back-button {
  position: fixed;
  top: 10%;
  left: 10%;
}

.gamer-details section {
  text-align: center;
  justify-content: center;
}

.gamer-image img {
  position: relative;
  display: flex;
  max-width:60%;
  height:auto;
}

.showNavigation {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}

.New {
  text-align: center;
}

.gamer-form {
  width: 5em;
  position: relative;
  left: 30%;
  overflow-y: scroll;
  width: 500px;
  color: white;
}

.gamer-form label {
  text-align: center;
}

.gamer-form span {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
 
.gamer-form select {
  width: 300px;
}

.gamer-form textarea{
  width: 295px;
}

.submit-new {
  background-color: #7F76BE;
  width: 200px;
  float: right;
}

.gamer-form input[type=checkbox] {
  height: 20px;
  width: 20px;
}


@media (max-width: 1349px) {
  nav {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (max-width: 1150px) {
  nav span h3{
    display: none;
  }
}

@media (max-width: 760px) {
  nav span h3{
    display: none;
  }
}




/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */ 
